section{
    padding: 25px 0;
}
section:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1) .img{
    border: red solid;
}
.main{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.main div:first-child{
    display: flex;
    
}
.main div:first-child > .img{
    width: 300px;
    height: 200px;
    background-color: #c6c6c6;
}

.main div:first-child > div .img{
    width: 300px;
    border-bottom: none;
    height: 100px;
    background-color: #0066cc;
}
.main div:last-child{
    display: flex;
    flex-direction: column;
    
}
.main div:last-child > .img{
    width: 600px;
    height: 100px;
    background-color: #444444;
}
.main div:last-child > div{
    display: flex;
    flex-direction: row;
}
.main div:last-child > div .img{
    width: 100px;
    height: 100px;
}



section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main2{
    display: flex;

}
section:nth-child(2) .img {
    margin:1px;
    background-color: rgb(180, 5, 5);
}
.primary-left{
    display: flex;
    flex-direction: column;
}
.primary-left div:first-child {
    display: flex;
    flex-direction: row;
} 
.primary-left > div:first-child > .img{
    width: 200px;
    height: 200px;

}
.primary-left > div:first-child > div {
    display:flex;
    flex-direction: column; 
}
.primary-left > div:first-child > div .img{
    width: 200px;
    height: 100px;

}

.primary-left > div:last-child{
    display: flex;
    flex-direction: row;
}
.primary-left > div:last-child > .img{
    width: 100px;
    height: 100px;
}
.primary-left > div:last-child > .img:nth-child(2){
    width: 200px;
}

.primary-right{
    display: flex;
    flex-direction: column;
}
.primary-right > div:first-child{
    display: flex;
    flex-direction: row;
}
.primary-right > div:first-child .img{
    width: 100px;
    height: 100px;
}
.primary-right > div:last-child{
    display: flex;
    flex-direction: row;
}
.primary-right > div:last-child > div{
    display: flex;
    flex-direction: column;
}
.primary-right > div:last-child > div .img{
    width: 100px;
    height: 100px;
}
.primary-right > div:last-child > .img{
    width: 100px;
    height: 200px;
}



section:nth-child(3){
    display: flex;

    align-items: center;
    justify-content: center;
}

.drop{
    width: 120px;
    height: 60px;
    background-color: #4455aa;
    color: #fafafa;
    font-size: 1.0em;
    
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  
.scroll-top {
    position:fixed;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    text-align:center;
    z-index:99;
    background-color:#2ba6e1;
    color:#fff;
    width:47px;
    height:44px;
    line-height:44px;
    right:25px;
    bottom:-25px;
    padding-top:2px;
    border-radius:5px;
    transition:all .5s ease-in-out;
    transition-delay:.2s;
    }
    
    .scroll-top:hover {
    background-color:#3eb2ea;
    color:#fff;
    transition:all .2s ease-in-out;
    transition-delay:0;
    }
    
    .scroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:25px;
    }
    
    .scroll-top i.fa {
    line-height:inherit;
    }
.btn-scroll-top{
    width: 100%;
    height: 100%;

} 
